<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/avaliacaoProfessores</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property>  
    
    <mapping class="com.ufg.avaliacaoprofessores.bean.Docente"/>
    <mapping class="com.ufg.avaliacaoprofessores.bean.Atividade"/>
    <mapping class="com.ufg.avaliacaoprofessores.bean.AvaliacaoDocente"/>
    <mapping class="com.ufg.avaliacaoprofessores.bean.Avaliacao"/>
    <mapping class="com.ufg.avaliacaoprofessores.bean.ItemAvaliacao"/>
    <mapping class="com.ufg.avaliacaoprofessores.bean.TipoAtividade"/>
  </session-factory>
</hibernate-configuration>